/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    background-color: black;
}

.video-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: 100%;
    border-radius: 2em;
}